<h1>Greetings Learning Spring Boot 3.0 fans!</h1>
Leveraging templates to create content 31

<p>
 In this chapter, we are learning how to make
 a web app using Spring Boot 3.0
</p>

<ul>
 {{#videos}}
 <li>{{name}}</li>
 {{/videos}}
</ul>

<form action="/new-video" method="POST">
    <input type="text" name="name">
    <button type="submit">Submit</button>
</form>